Repository olegkaspersky/diploma-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint dockerfile, checkov dockerfile, lint yaml files

Path conditions:
  lint dockerfile: any of: Dockerfile
  checkov dockerfile: any of: Dockerfile
  lint yaml files: any of: .gitlab-ci.yml, .hadolint.yaml

final snyk step fix
  .gitlab-ci.yml
Due: lint yaml files

changed snyk to trivy
  .gitlab-ci.yml
Due: lint yaml files

ci misconfiguration fixes
  .gitlab-ci.yml
Due: lint yaml files

CI fixes
  .gitlab-ci.yml
Due: lint yaml files

upd trivy image scanning configuration
  .gitlab-ci.yml
Due: lint yaml files

trivy ci fixes
  .gitlab-ci.yml
Due: lint yaml files

testing gunicorn configurations
  .gitlab-ci.yml
  app/gunicorn.conf.py
Due: lint yaml files

testing configs
  Dockerfile
  app/gunicorn.conf.py
Due: lint dockerfile, checkov dockerfile

added 2018 and 2017 season
  app/createdb.py
  app/templates/app.html
Due: none

updated helpers
  app/createdb.py
  app/helpers.py
Due: none

fixed linter suggestions
  app/createdb.py
  app/helpers.py
Due: none

fixed linter suggestions
  app/helpers.py
Due: none

fixed form
  app/app.py
Due: none

ci runs checks only in branches
  .gitlab-ci.yml
Due: lint yaml files

run app as non root user
  Dockerfile
Due: lint dockerfile, checkov dockerfile

upgrade system dependencies
  Dockerfile
Due: lint dockerfile, checkov dockerfile

roll back to last 3 seasons
  app/createdb.py
  app/templates/app.html
Due: none

added 2018 and 2017
  app/createdb.py
  app/templates/app.html
Due: none
